<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <title>Mi farmacia aquí</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

      {% include "base/head_css.html" %}

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    {% include "base/navbar.html" %}

    <!-- Navbar principal -->
	  
    <section class="hero-wrap js-fullheight" style="background-image: url({%  static 'images/bg_3.jpg' %});" data-section="home" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 pt-5 ftco-animate">
          	<div class="mt-5">
          		<span class="subheading">¡Bienvenido a tu farmacia!</span>
	            <h1 class="mb-4">Todo para<br>tu salud</h1>
	            <p class="mb-4">Aqui encontrarás todos los productos y servicios que cualquier farmacia en el mundo puede brindarte.</p>
	            <p><a href="#productos" class="btn btn-primary py-3 px-4">Hacer un recorrido</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Productos -->

	<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="productos">
    {% block results %}
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url({%  static 'images/about.jpg' %});">
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 py-md-5">
    				<div class="py-md-5">
	    				<div class="row justify-content-start pb-3">
                            {% block content %}
                              <div class="col-md-12 heading-section ftco-animate p-4 p-lg-5">
                                <h2 class="mb-4">Esta es tu <span>farmacia</span> de confianza</h2>
                                <p>Gracias a ti es que ahora somos totalmente reconocidos como unos de los mejores</p>
                                <p><a href="#about" class="btn btn-primary py-3 px-4">Sobre nosotros</a><a href="#contact-section" class="btn btn-secondary py-3 px-4">Contactanos ya</a></p>
                              </div>
                            {% endblock content %}
			        </div>
		        </div>
	        </div>
        </div>
    	</div>
    {% endblock results %}
    </section>

    <!-- Categorias -->

	<section class="ftco-section ftco-no-pt ftco-no-pb" id="categorias">
    	<div class="container-fluid px-0">
    		<div class="row no-gutters">
    			<div class="col-md-4 d-flex">
    				<div class="img img-dept align-self-stretch" style="background-image: url({%  static 'images/dept-1.jpg' %});"></div>
    			</div>

    			<div class="col-md-8">
    				<div class="row no-gutters">
    					<div class="col-md-4">
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="{% url 'crear_boletas' %}">Boletas</a></h3>
    								<p>Aqui podras crear nuevas boletas</p>
    							</div>
    						</div>
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="{% url 'crear_categorias' %}">Categorias</a></h3>
    								<p>Aqui podras crear nuevas categorias</p>
    							</div>
    						</div>
                            {% if perms.clientes.cliente_permission  or perms.proveedor.proveedor_permission %}
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
                                    {% if perms.clientes.cliente_permission %}
                                        <h3><a href="{% url 'crear_clientes' %}">Clientes</a></h3>
                                        <p>Aqui podras crear nuevos clientes</p>
                                    {% endif %}
                                    {% if  perms.proveedor.proveedor_permission %}
                                        <h3><a href="{% url 'crear_proveedores' %}">Proveedores</a></h3>
                                        <p>Aqui podras crear nuevos proveedores</p>
                                    {% endif %}
    							</div>
    						</div>
                            {% endif %}
    					</div>

    					<div class="col-md-4">
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="{% url 'crear_detalles' %}">Detalles de pedidos</a></h3>
    								<p>Aqui podras crear nuevos detalles para pedidos</p>
    							</div>
    						</div>
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="{% url 'crear_distritos' %}">Distritos</a></h3>
    								<p>Aqui podras crear nuevos distritos</p>
    							</div>
    						</div>
                            {% if perms.empleado.empleado_permission %}
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="{% url 'crear_empleados' %}">Empleados</a></h3>
    								<p>Aqui podras crear nuevos empleados</p>
    							</div>
    						</div>
                            {% endif %}
    					</div>

    					<div class="col-md-4">
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="{% url 'crear_ordenes' %}">Orden para pedidos</a></h3>
    								<p>Aqui podras crear nuevas ordenes</p>
    							</div>
    						</div>
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="{% url 'crear_presentaciones' %}">Presentaciones</a></h3>
    								<p>Aqui podras crear nuevas presentaciones</p>
    							</div>
    						</div>
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="{% url 'crear_productos' %}">Productos</a></h3>
    								<p>Aqui podras crear nuevos productos</p>
    							</div>
    						</div>

    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <!-- Sobre nosotros -->

    <section class="ftco-section bg-light" id="about">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
            <h2 class="mb-4">Sobre nosotros</h2>
            <p>Cada dia somos más y más, ¡Sigamos así!</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="#" class="block-20" style="background-image: url({%  static 'images/image_1.jpg' %});">
              </a>
              <div class="text d-block">
              	<div class="meta mb-3">
                  <div><a href="#">Agosto 17, 2019</a></div>
                </div>
                <h3 class="heading">Estamos las 24 horas del dia a tu disposicion</h3>
                <p>Puedes acudir a la hora que deeses; siempre estaremos para ti</p>
              </div>
            </div>
        	</div>

        	<div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="#" class="block-20" style="background-image: url({% static 'images/image_2.jpg' %});">
              </a>
              <div class="text d-block">
              	<div class="meta mb-3">
                  <div><a href="#">Agosto 17, 2019</a></div>
                </div>
                <h3 class="heading">Todos los productos a tu disposicion</h3>
                <p>Jamás encontraras otro lugar con todos los productos en un solo lugar</p>
              </div>
            </div>
        	</div>

        	<div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="#" class="block-20" style="background-image: url({%  static 'images/image_3.jpg' %});">
              </a>
              <div class="text d-block">
              	<div class="meta mb-3">
                  <div><a href="#">Agosto 17, 2019</a></div>
                </div>
                <h3 class="heading">Contamos con los mejores medicos especialistas</h3>
                <p>Nuestros medicos garantizan que nuestros productos son totalmente efectivos</p>
                <!--<p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>-->
              </div>
            </div>
        	</div>

        </div>
      </div>
    </section>

    <!-- Contacto -->

    <footer class="ftco-footer ftco-section img" style="background-image: url({% static 'images/footer-bg.jpg' %});">

        <section class="ftco-section contact-section" id="contact-section">
          <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
              <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Contactanos</h2>
                <p>Siempre estaremos a tu disposicion.</p>
              </div>
            </div>
            <div class="row d-flex contact-info mb-5">
              <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center bg-light">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-map-signs"></span>
                    </div>
                    <h3 class="mb-4">Direccion</h3>
                    <p>Pereira, Colombia</p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center bg-light">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-phone2"></span>
                    </div>
                    <h3 class="mb-4">Contacto</h3>
                    <p><a href="tel://1234567920">+57 3015008594</a></p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center bg-light">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-paper-plane"></span>
                    </div>
                    <h3 class="mb-4">Email</h3>
                    <p><a href="#">info@tufaramacia.com</a></p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center bg-light">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-globe"></span>
                    </div>
                    <h3 class="mb-4">Website</h3>
                    <p><a href="#">tufarmacia.com</a></p>
                  </div>
              </div>
            </div>
              <div class="row">
              <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="#" target="_blank">Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
              </div>
            </div>
          </div>
        </section>
    </footer>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  {% include "base/javascript.html" %}

  </body>
</html>