{% extends "base/farmacia.html" %}

{% block results %}
    <div class="container">
        <br>
        <h3>Listar categorias</h3>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Codigo categoria</th>
                    <th scope="col">Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                    {% for categoria in object_list %}
                        <tr class="table-light">
                            <th scope="row">{{ categoria.cod_categoria }}</th>
                            <td>{{ categoria.nom_categoria }}</td>
                            <td>
                                <a href="{% url 'editar_categorias' categoria.cod_categoria %}" class="btn btn-success">Editar</a>
                                <a href="{% url 'eliminar_categorias' categoria.cod_categoria %}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <br>
                    <div class="container">
                        <h3>Aun no hay categorias creadas</h3>
                        <a href="{% url 'crear_categorias' %}" class="btn btn-success">Crear categorias</a>
                    </div>
                    <br>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% if object_list %}
        <div class="container">
            <a href="{% url 'reporte_categoria_pdf' %}" class="btn btn-primary">Generar reporte → </a>
        </div>
        <br>
    {% endif %}
{% endblock results %}