<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperar mi contraseña</title>
    {% include "base/head_css.html" %}
</head>
<body>
    <section>
        {% if validlink %}
            <br>
            <h3>Cambiar mi contraseña</h3>
            <br>
            <form method="post">{% csrf_token %}
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Nueva contraseña</label>
                {{ form.new_password1 }}

                {{ form.new_password2.errors }}
                <label  for="id_new_password2">Confirme su contraseña</label>
                {{ form.new_password2 }}
                <input type="submit" class="btn btn-success" value="Cambiar mi contraseña">
            </form>

        {% else %}
            <h2>LINK INVALIDO: Este link ya ha sido utilizado antes. Solicite un nuevo link de recuperacion.</h2>
        {% endif %}
    </section>
</body>
</html>